<div id="slide-out" class="side-nav lineref-nav">
  <a *ngFor="let line of lineRefs | async" class="waves-effect waves-light btn linerefbtn" [class.disabled]="line.isDisabled" (click)="toggleMarkerVisibility(line.lineRef)"> {{line.lineRef}}</a>
</div>
<div class="menu">
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons menu-icon">menu</i></a>
  <div class="title">
    <span class="teal-text text-darken-1">TreTraffic</span>
  </div>
  <a href="https://github.com/ottoo/TreTraffic"><img class="githublogo" src="/res/GitHub_Logo.png" /></a>
</div>
